<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-8">
    <p>I'm just a guy who wants to know how to use Rails</p>
  </div>
  <div class="col-md-4">
    <%= image_tag "profile.png", width:300,
    alt:"Ruby ruby ruby RUBY!"%>
  </div>
</div>
